#map {

    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.list-group {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


button {
    position: fixed;
    bottom: 30px;
    right: 20px;
}